.modal-cart-bg{
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(140,140,140,0.5);
  z-index: 1000;
}

.modal-cart{
  position: fixed;
  top: 10px;
  width: 980px;
  left: 50%;
  height: calc(100vh - 20px);
  transform: translateX(-50%);
  background: #F8F8F8;
  overflow-y: scroll;
  display: flex;
}

.modal-cart h4{
  color: #334150;
  display: block;
  font-size: 29px;
  font-family: "MyriadProSemibold",sans-serif;
  margin: 0 auto;
}

.modal-cart input, .modal-cart textarea {
  background: #fbfafa;
  width: 340px;
  display: block;
  height: 42px;
  border: 1px solid #d4d3d3;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  margin: 18px auto 0;
  color: #334150;
  font-family: "SolomonSansBook",sans-serif;
  outline: none;
}

.modal-cart form{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.modal-cart textarea {
  color: #334150;
  display: block;
  resize: none;
  height: 173px;
}

.modal-cart-order{
  margin: 30px 0;
  border-right: 1px solid #d4d3d3;
}

.modal-cart select{
  background: #fbfafa;
  width: 340px;
  display: block;
  border: 1px solid #d4d3d3;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  margin: 18px auto 0;
  color: #334150;
  font-family: "SolomonSansBook",sans-serif;
  outline: none;
}

.modal-cart button {
  padding: 0;
  border: none;
  opacity: 0.9;
  background: none;
  width: 316px;
  margin: 20px auto 15px;
  display: block;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal-cart button:hover {
  opacity: 1;
}

.modal-cart input, .modal-cart textarea{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal-cart p {
  color: #aaa;
  font-size: 12px;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  margin: 18px auto 0;
}

.modal-cart a {
  color: #995bb8;
}

.modal-cart input:hover, .modal-cart input:focus, .modal-cart textarea:hover, .modal-cart textarea:focus {
  border: 1px solid #9b59b6;
}

.modal-cart-order{
  display: flex;
  flex-direction: column;
  flex: 0 0 40%;
}

.modal-cart-items {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 30px 0;
  flex: 0 0 60%;
}

.modal-cart-items-shopped{
  display: block;
  border: 1px solid #d1cfcf;
  height: 685px;
  overflow-y: scroll;
}

.modal-cart-items-shopped-item{
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 15px 10px 0px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d1cfcf
}

.modal-cart-items-shopped-item-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 135px;
  flex: 0 0 135px;
  border: 1px solid #334150;
  border-radius: 2px;
  background: #fff;
}

.modal-cart-items-shopped-item-img img{
  max-height: 100%;
  max-width: 100%;
}

.modal-cart-items-shopped-item-info{
  display: flex;
  width: 325px;
  margin-left: 15px;
  flex-direction: column;
}

.modal-cart-items-shopped-item-info a {
  font-size: 20px;
  color: #334150;
  height: 70px;
  line-height: 22px;
  overflow: hidden;
  display: block;
  margin-bottom: 5px;
}

.modal-cart-items-shopped-item-info > p{
  display: block;
  font-size: 12px;
  color: #2a67aa;
  height: 54px;
  overflow: hidden;
  margin: 0;
}

.modal-cart-items-shopped-item-info-price{
  font-size: 36px;
  display: flex;
  flex-direction: row;
  font-family: "Vegur-Bold",sans-serif;
  color: #9b59b6;
  align-items: baseline;
}

.modal-cart-items-shopped-item-info-price p {
  color: #9b59b6;
  font-size: 18px;
  margin: 0;
}

.modal-cart-items-shopped-item-info-count{
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal-cart-items-shopped-item-remove{
  display: flex;
  position: absolute;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  background: #d9d9d9;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transform: rotate(45deg);
  font-weight: bold;
  font-size: 55px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: 115px;
  bottom: -2px;
}

.modal-cart-items-shopped-item-remove:hover{
  color: #9b59b6;
}

.modal-cart-items-shopped-item-info-count p{
  color: #767575;
  display: block;
  font-size: 14px;
  margin: 0px 0 10px 0;
}

.modal-cart-items-shopped-item-info-count input{
  width: 100px;
  margin: 18px 0 0 0;
}

.modal-cart-items-pay{
  display: flex;
  padding: 40px 20px 0 30px;
  border: 1px solid #d1cfcf;
  border-right: none;
  border-left: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.modal-cart-items-pay span{
  color: #aaa;
  font-size: 14px;
}

.continue-shopping{
  margin: 20px auto 15px;
  cursor: pointer;
  opacity: 0.9;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.continue-shopping:hover{
  opacity: 1;
}
