.shop-navigation ul li > ul li{
  width: auto;
  text-align: left;
  position: initial;
}

.shop-navigation ul li > ul li a{

  box-sizing: border-box;
  color: #2a3039
}

.shop-navigation ul > li > ul > li{
  border-bottom: 1px solid #9b59b6;
}

.shop-navigation ul li > ul li > ul{
  left: 100%;
  top: 0;
  width: calc(300% + 20px);
  height: calc(100% + 3px);
  flex-direction: column;
  flex-wrap: wrap;
  align-content: baseline;
}

.shop-navigation ul li > ul li a:nth-child(8n), .shop-navigation ul > li > ul > li:nth-child(8n){
  border-bottom: none;
}

.shop-navigation ul li > ul li > ul a{
  width: calc(100% / 3);
  border-bottom: 1px solid #9b59b6;
  border-right: 1px solid #9b59b6;
  height: calc(100% / 8);
  overflow: hidden;
}

.shop-navigation ul li > ul li > ul a.disabled{
  box-sizing: border-box;
  border-bottom: 1px transparent;
  cursor: not-allowed;
  pointer-events: none;
}

.shop-navigation ul li > ul li a:nth-child(n+17){
  border-right: none;
}
