.product-page-navigation
  display: flex
  flex-direction: row
  background: #2a67aa
  li
    a
      display: block
      padding: 10px
      font-size: 16px
      color: #fff
      &:hover
        text-decoration: underline
    .active
      font-weight: bold
      text-decoration: underline