.container{
    width: 600px;
    margin: 0 auto;
}

.addNewItem{
    display: flex;
    align-items: center;
}

#addNewTodoLine {
    flex: 2 1 0;
}

#submitNewLine {
    flex: 1 1 0;
}

#todoListBody{
    margin: 10px 0;
    padding: 0;
}

#todoListBody li{
    display: block;
    border: 1px dashed #ffa775;
    padding: 10px;
    position: relative;
}

#todoListBody li span {
    display: block;
    position: absolute;
    right: 20px;
    padding: 5px;
    background: #000;
    cursor: pointer;
}

#todoListBody li span.up{
    top: 5px;
}

#todoListBody li span.down{
    bottom: 5px;
}

#todoListBody li span:hover{
    background: #3cff0f;
}

#todoListBody li:hover{
    border-color: #3cff0f;
}

#todoListBody li.resolved{
    border: 1px dashed #3cff0f;
    background: #ffffc0;
}