.head-logo a {
  overflow: hidden;
  height: 85px;
  display: inline-block;
}

.head-telephones {
  display: flex;
  flex-direction: column;
}

.head-telephones p {
  margin: 10px 0 0 54px;
  font-size: 10px;
  color: #2a3039;
}

.head-telephones a {
  color: #2a3039;
  margin: 0 0 0 54px;
  text-transform: uppercase;
  font-size: 22px;
  font-family: "MyriadProRegular", sans-serif;
  letter-spacing: 0;
  line-height: 24px;
  align-self: baseline;
}

.head-telephones a:hover {
  color: #995bb8;
}

.callback-block {
  display: flex;
  line-height: 22px;
  justify-content: flex-end;
}

.callback-block a {
  display: inline-block;
  text-decoration: underline;
  margin: 0 67px 0 2px;
}

.head-line-fixed {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 888;
  background: #ecf0f1;
}

.fade-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s linear;
}

.fade-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity .2s linear;
}

.head-line-block {
  min-height: 90px;
}

.shop-navigation > ul {
  display: flex;
  flex-direction: row;
}

.shop-navigation > ul > li {
  flex: 0 0 25%;
  text-align: center;
  position: relative;
  font-size: 14px;
  outline: none;
}

.shop-navigation > ul > li > a, .head-catalog > span {
  font-size: 14px;
  display: block;
  padding: 10px 0;
  color: #fff;
  cursor: pointer;
}

.shop-navigation > ul > li:hover > a, .head-catalog:hover > span {
  color: #2a3039;
  background: rgba(174, 116, 198, 0.4);
}

.shop-navigation > ul > li > .toggle-menu {
  display: none;
  position: absolute;

}

.shop-navigation > ul > li > .toggle-menu > li:hover > ul {
  position: absolute;
  left: 100%;
  width: 300%;
  top: 0;
  background: #ecf0f1;
  flex-wrap: wrap;
  height: 100%;
  border-bottom: 3px solid #9b59b6;
  border-right: 3px solid #9b59b6;
}

.shop-navigation > ul > li > .toggle-menu > li {
  border-right: 3px solid #9b59b6;
  border-left: 3px solid #9b59b6;
  border-bottom: 1px solid #9b59b6;
}

.shop-navigation > ul > li > .toggle-menu > li:last-child {
  border-bottom: 3px solid #9b59b6;
}

.shop-navigation > ul > li > .toggle-menu > li > ul > a {
  display: block;
  width: 292.5px;
  /*width: calc(100% / 3);*/
  /*width: -moz-calc(100% / 3);*/
  /*width: -webkit-calc(100% / 3);*/
  height: calc(100% / 8);
  height: -moz-calc(100% / 8);
  height: -webkit-calc(100% / 8);
  border-bottom: 1px solid #9b59b6;
  border-right: 1px solid #9b59b6;
}

.shop-navigation > ul > li > .toggle-menu > li > ul > a:nth-child(8n) {
  border-bottom: none;
}

.shop-navigation > ul > li:hover > .toggle-menu, .shop-navigation > ul > li > .toggle-menu > li:hover > ul {
  display: flex;
}

.shop-navigation > ul > li > .toggle-menu > li > ul > a:nth-child(n+17) {
  border-right: none;
}

.shop-navigation > ul > li > .toggle-menu > li > ul > a.disabled:hover{
  background: transparent;
}
.shop-navigation > ul > li > .toggle-menu > li > ul > a.disabled:hover:before{
  display: none;
}

.shop-navigation > ul > li > .toggle-menu span{
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 14px;
}

.shop-navigation > ul > li > .toggle-menu a{
  font-size: 12px;
}

.toggle-menu > li > ul > a:hover:before{
  display: block;
}

.shop-navigation > ul > li > .toggle-menu li:hover span{
  background: rgba(174, 116, 198, 0.4);
}

.shop-navigation > ul > li > .toggle-menu li:hover span:before{
  display: block;
}

.shop-navigation > ul > li > .toggle-menu span, .shop-navigation > ul > li > .toggle-menu a{
  text-align: left;
  padding: 0 5px;
}

.head-catalog span, .head-catalog a{
  position: relative;
}

.head-catalog span:before, .head-catalog a:before{
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  -webkit-mask: url(../../../public/icons/arrow-left-solid.svg) no-repeat 50% 50%;
  mask: url(../../../public/icons/arrow-left-solid.svg) no-repeat 50% 50%;
  mask-size: cover;
  background-color: #2a3039;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.shop-navigation > ul > .head-catalog > span{
  color: #fff;
}

.shop-navigation > ul > .head-catalog:hover > span{
  color: #2a3039;
}

.product-card-tabs .shop-navigation-mobile .toggle-menu{
  background: transparent;
}

.product-card-tabs .shop-navigation-mobile ul li span, .product-card-tabs .shop-navigation-mobile a{
  color: #fff;
}

.product-card-tabs ul > li > span, .product-card-tabs .toggle-menu span, .product-card-tabs .toggle-menu a:hover{
  color: #2a3039;
}

.product-card-tabs .shop-navigation-mobile li:hover span,
.product-card-tabs .shop-navigation-mobile .toggle-menu a:hover,
.product-card-tabs .shop-navigation-mobile ul .shop-navigation-mobile-open > span{
  color: #2a3039;
}
.toggle-menu > .shop-navigation-mobile-open > span:before,
.product-card-tabs .shop-navigation-mobile .toggle-menu li:hover span:before,
.product-card-tabs .shop-navigation-mobile .toggle-menu a:hover:before{
  background: #2a3039;
}

.head-search .shop-navigation-mobile .toggle-menu{
  position: absolute;
  max-height: 480px;
  overflow-y: auto;
}

.head-search .shop-navigation-mobile{
  max-height: none;
  position: relative;
  overflow-y: initial;
  width: 100%;
}

.head-search .shop-navigation-mobile  ul  li  span:before{
  background: #2a3039;
}

.head-search .shop-navigation-mobile  ul  li  span, .head-search .shop-navigation-mobile  ul  li  a{
  height: 30px;
  line-height: 30px;
}

.head-search .shop-navigation-mobile ul li a.disabled{
  display: none;
}

@media only screen and (max-width: 992px) {
  .top-nav ul {
    justify-content: center;
    flex-wrap: wrap;
  }

  .callback-block {
    flex-direction: row;
    justify-content: center;
  }

  .callback-block a {
    margin-right: 0;
  }

  .head-logo {
    text-align: center;
  }

  .head-telephones {
    align-items: center;
  }

  .head-telephones p {
    margin: 10px 0 0 0;
  }

  .head-telephones a {
    align-self: auto;
    margin: 0;
  }

  .head-bucket div {
    flex-direction: row;
    justify-content: center;
  }

  .head-line-fixed .head-logo {
    display: none;
  }

  .head-search {
    margin: 10px 0;
  }

  .shop-navigation ul {
    justify-content: space-around;
  }

  .shop-navigation ul li {
    width: calc(100% / 3);
  }
}

@media only screen and (max-width: 768px) {
  .top-nav {
    text-align: center;
  }
}
