.head-logo
  display: flex
  justify-content: center
  a
    overflow: hidden
    display: inline-flex

.head-telephones
  display: flex
  flex-direction: column

.head-bucket
  img
    cursor: pointer

.head-telephones
  p
    margin: 10px 0 0 54px
    font-size: 10px
    color: #2a3039
  a
    color: #2a3039
    margin: 0 0 0 54px
    text-transform: uppercase
    font-size: 22px
    font-family: "MyriadProRegular", sans-serif
    letter-spacing: 0
    line-height: 24px
    align-self: baseline

.callback-block
  display: flex
  line-height: 22px
  justify-content: flex-end
  a
    display: inline-flex
    margin: 0 67px 0 2px

.head-bucket
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  margin-top: 12px

.head-line-fixed
  width: 100%
  top: 0
  left: 0
  position: fixed
  z-index: 888
  background: #ecf0f1

.fade-visible
  visibility: visible
  opacity: 1
  transition: opacity .2s linear

.fade-hidden
  visibility: hidden
  opacity: 0
  transition: visibility 0s 0.2s, opacity .2s linear

.head-line-block
  min-height: 90px

.shop-navigation
  > ul
    > li
      padding: 5px
      > span
        color: #fff
  li
    cursor: pointer
    position: relative
    outline: none
    justify-content: center
    align-items: stretch
    &:hover
      .head-catalog-hamburger
        div
          &:nth-child(1), &:nth-child(3)
            position: absolute
            top: 50%
            left: 50%
          &:nth-child(1)
            transform: translateX(-50%) translateY(-50%) rotate(-45deg)
          &:nth-child(2)
            left: 100%
          &:nth-child(3)
            transform: translateX(-50%) translateY(-50%) rotate(45deg)
      > span
        text-decoration: underline
      > ul
        display: flex
    span
      color: #2a3039
      font-size: 16px
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      height: 100%
      line-height: 20px
      padding: 5px
  ul
    display: flex
    flex-direction: row
    justify-content: center
  .head-catalog
    flex: 0 0 100%
    display: flex
  .toggle-menu, .toggle-menu ul
    display: none
    position: absolute
    top: 100%
    left: 0
    z-index: 9999
    background: #ecf0f1
  .toggle-menu
    padding: 5px 5px 0 5px
    &:before, &:after
      content: ""
      display: block
      width: 2px
      height: 100%
      position: absolute
      background: rgba(42, 103, 170, 0.5)
      top: 0
    &:before
      left: 0
    &:after
      right: 0
    > li
      &:first-child
        span
          &:before
            display: none
      span
        position: relative
        &:after
          content: ""
          display: none
          position: absolute
          bottom: -2px
          width: 100%
          height: 2px
          background: #ecf0f1
          z-index: 10000
      &:hover
        span
          &:before
            display: none
          &:after
            display: block
    li:hover + li
      span
        &:before
          display: none
    li
      position: initial
      border-radius: 5px 5px 0 0
      a, span
        &:before
          content: ""
          display: block
          height: 100%
          width: 1px
          position: absolute
          left: 0
          top: 0
          background: rgba(42, 103, 170, 0.5)
      &:hover
        box-shadow: 0 0 1px 1px rgba(42, 103, 170, 0.5)
    ul
      box-shadow: inset 0 0 0 2px rgba(42, 103, 170, 0.5)
      border-radius: 0 0 8px 8px
      padding: 10px 5px
      display: none
      width: 100%
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
      align-items: center
      cursor: auto
      a
        position: relative
        font-size: 14px
        padding: 4px
        margin: 5px 0
        color: #2a3039
        &:first-child
          &:before
            display: none

.head-catalog-hamburger
  display: flex
  flex-direction: column
  width: 20px
  justify-content: space-evenly
  align-items: center
  margin: 0 10px
  position: relative
  overflow: hidden
  div
    transition: all 0.3s ease
    display: block
    position: relative
    height: 2px
    width: 100%
    background: #fff
    left: 0
    top: auto
//.shop-navigation > ul > li > a, .head-catalog > span {
//  font-size: 14px;
//  display: block;
//  padding: 10px 0;
//  color: #fff;
//  cursor: pointer;
//}
//
//.shop-navigation > ul > li:hover > a, .head-catalog:hover > span {
//  color: #2a3039;
//  background: rgba(174, 116, 198, 0.4);
//}
//
//.shop-navigation > ul > li > .toggle-menu {
//  display: none;
//  position: absolute;
//
//}
//
//.shop-navigation > ul > li > .toggle-menu > li:hover > ul {
//  position: absolute;
//  left: 100%;
//  width: 300%;
//  top: 0;
//  background: #ecf0f1;
//  flex-wrap: wrap;
//  height: 100%;
//  border-bottom: 3px solid #9b59b6;
//  border-right: 3px solid #9b59b6;
//}
//
//.shop-navigation > ul > li > .toggle-menu > li {
//  border-right: 3px solid #9b59b6;
//  border-left: 3px solid #9b59b6;
//  border-bottom: 1px solid #9b59b6;
//}
//
//.shop-navigation > ul > li > .toggle-menu > li:last-child {
//  border-bottom: 3px solid #9b59b6;
//}
//
//.shop-navigation > ul > li > .toggle-menu > li > ul > a {
//  display: block;
//  width: 292.5px;
//  /*width: calc(100% / 3);*/
//  /*width: -moz-calc(100% / 3);*/
//  /*width: -webkit-calc(100% / 3);*/
//  height: calc(100% / 8);
//  height: -moz-calc(100% / 8);
//  height: -webkit-calc(100% / 8);
//  border-bottom: 1px solid #9b59b6;
//  border-right: 1px solid #9b59b6;
//}
//
//.shop-navigation > ul > li > .toggle-menu > li > ul > a:nth-child(8n) {
//  border-bottom: none;
//}
//
//.shop-navigation > ul > li:hover > .toggle-menu, .shop-navigation > ul > li > .toggle-menu > li:hover > ul {
//  display: flex;
//}
//
//.shop-navigation > ul > li > .toggle-menu > li > ul > a:nth-child(n+17) {
//  border-right: none;
//}
//
//.shop-navigation > ul > li > .toggle-menu > li > ul > a.disabled:hover {
//  background: transparent;
//}
//
//.shop-navigation > ul > li > .toggle-menu > li > ul > a.disabled:hover:before {
//  display: none;
//}
//
//.shop-navigation > ul > li > .toggle-menu span {
//  -webkit-transition: all 0.3s ease;
//  transition: all 0.3s ease;
//  font-size: 14px;
//}
//
//.shop-navigation > ul > li > .toggle-menu a {
//  font-size: 12px;
//}
//
//.toggle-menu > li > ul > a:hover:before {
//  display: block;
//}
//
//.shop-navigation > ul > li > .toggle-menu li:hover span {
//  background: rgba(174, 116, 198, 0.4);
//}
//
//.shop-navigation > ul > li > .toggle-menu li:hover span:before {
//  display: block;
//}
//
//.shop-navigation > ul > li > .toggle-menu span, .shop-navigation > ul > li > .toggle-menu a {
//  text-align: left;
//  padding: 0 5px;
//}
//
//.head-catalog span, .head-catalog a {
//  position: relative;
//}
//
//.head-catalog span:before, .head-catalog a:before {
//  content: "";
//  display: none;
//  width: 15px;
//  height: 15px;
//  -webkit-mask: url(../../public/icons/arrow-left-solid.svg) no-repeat 50% 50%;
//  mask: url(../../public/icons/arrow-left-solid.svg) no-repeat 50% 50%;
//  mask-size: cover;
//  background-color: #2a3039;
//  position: absolute;
//  right: 5px;
//  top: 50%;
//  transform: translateY(-50%);
//}
//
//.shop-navigation > ul > .head-catalog > span {
//  color: #fff;
//}
//
//.shop-navigation > ul > .head-catalog:hover > span {
//  color: #2a3039;
//}
//
//.product-card-tabs .shop-navigation-mobile .toggle-menu {
//  background: transparent;
//}
//
//.product-card-tabs .shop-navigation-mobile ul li span, .product-card-tabs .shop-navigation-mobile a {
//  color: #fff;
//}
//
//.product-card-tabs ul > li > span, .product-card-tabs .toggle-menu span, .product-card-tabs .toggle-menu a:hover {
//  color: #2a3039;
//}
//
//.product-card-tabs .shop-navigation-mobile li:hover span,
//.product-card-tabs .shop-navigation-mobile .toggle-menu a:hover,
//.product-card-tabs .shop-navigation-mobile ul .shop-navigation-mobile-open > span {
//  color: #2a3039;
//}
//
//.toggle-menu > .shop-navigation-mobile-open > span:before,
//.product-card-tabs .shop-navigation-mobile .toggle-menu li:hover span:before,
//.product-card-tabs .shop-navigation-mobile .toggle-menu a:hover:before {
//  background: #2a3039;
//}
//
//.head-search .shop-navigation-mobile .toggle-menu {
//  position: absolute;
//  max-height: 480px;
//  overflow-y: auto;
//}
//
//.head-search .shop-navigation-mobile {
//  max-height: none;
//  position: relative;
//  overflow-y: initial;
//  width: 100%;
//}
//
//.head-search .shop-navigation-mobile ul li span:before {
//  background: #2a3039;
//}
//
//.head-search .shop-navigation-mobile ul li span, .head-search .shop-navigation-mobile ul li a {
//  height: 30px;
//  line-height: 30px;
//}
//
//.head-search .shop-navigation-mobile ul li a.disabled {
//  display: none;
//}
//
//.head-bucket div{
//  margin-top: 10px;
//  display: flex;
//  cursor: pointer;
//}
//
//.head-bucket div:hover span{
//  color: #995bb8
//}
//
//.head-bucket div span{
//  margin-top: 4px;
//  color: #2a3039;
//  -webkit-transition: all 0.3s ease;
//  -moz-transition: all 0.3s ease;
//  transition: all 0.3s ease;
//}
//
//
//@media only screen and (max-width: 992px) {
//.modal-cart {
//  width: 90%;
//}
//
//.modal-cart form {
//  flex-direction: column;
//}
//
//.modal-cart-items, .modal-cart-order {
//  flex: 0 0 100%;
//}
//
//.modal-cart-order {
//  border: none;
//  margin-bottom: 0;
//}
//
//.modal-cart-items {
//  margin: 0;
//}
//
//.top-nav ul {
//  justify-content: center;
//  flex-wrap: wrap;
//}
//
//.callback-block {
//  flex-direction: row;
//  justify-content: center;
//}
//
//.callback-block a {
//  margin-right: 0;
//}
//
//.head-logo {
//  text-align: center;
//}
//
//.head-telephones {
//  align-items: center;
//}
//
//.head-telephones p {
//  margin: 10px 0 0 0;
//}
//
//.head-telephones a {
//  align-self: auto;
//  margin: 0;
//}
//
//.head-bucket div {
//  flex-direction: row;
//  justify-content: center;
//}
//
//.head-line-fixed .head-logo {
//  display: none;
//}
//
//.head-search {
//  margin: 10px 0;
//}
//
//.shop-navigation ul {
//  justify-content: space-around;
//}
//
//.shop-navigation ul li {
//  width: calc(100% / 3);
//}
//}
//
//@media only screen and (max-width: 768px) {
//.modal-cart-order {
//  padding: 0 20px;
//}
//
//.modal-cart .modal-cart-items-shopped-item-info-count input{
//  width: 100px;
//}
//
//.modal-cart input, .modal-cart textarea, .modal-cart select {
//  width: 100%;
//}
//
//.modal-cart button, .continue-shopping{
//  width: 100%;
//}
//
//.modal-cart button img, .continue-shopping img{
//  max-width: 100%;
//}
//
//.top-nav {
//  text-align: center;
//}
//}
.open-fixed-menu
  display: flex
  flex-direction: row
  cursor: pointer
  &:hover
    span
      text-decoration: underline
  span
    display: block
    font-size: 20px
    color: #2a3039
  .head-catalog-hamburger
    width: 28px
    div
      background: #2a3039
.open-fixed-menu.open-list
  .head-catalog-hamburger
    div
      &:nth-child(1), &:nth-child(3)
        position: absolute
        top: 50%
        left: 50%
      &:nth-child(1)
        transform: translateX(-50%) translateY(-50%) rotate(-45deg)
      &:nth-child(2)
        left: 100%
      &:nth-child(3)
        transform: translateX(-50%) translateY(-50%) rotate(45deg)
  span
    text-decoration: underline
.fixed-menu
  padding: 5px 0
  display: flex
  flex-direction: row
  position: fixed
  top: 0
  z-index: 10001
  width: 100%
  flex-wrap: nowrap
  justify-content: space-evenly
  align-items: center
  background: #ecf0f1
  .head-search, .head-bucket
    margin-top: 0

.top-menu
  justify-content: center


.up-button
  position: fixed
  bottom: 10px
  right: 10px
  background: #292929
  opacity: 0.6
  width: 80px
  height: 80px
  border-radius: 50%
  z-index: 10002
  transition: all 0.3s ease
  cursor: pointer
  overflow: hidden
  &:hover
    opacity: 1
  button
    background: none
    border: none
    color: #8f8f8f
    font-size: 80px
    transform: rotate(-90deg)
    position: absolute
    left: 13px
    top: -18px
@media only screen and (max-width: 992px)
  .top-nav
    ul
      justify-content: center
  .callback-block
    justify-content: center
    a
      margin-right: 0
  .head-telephones
    align-items: center
    a
      align-self: center
    a, p
      margin-left: 0
  .head-bucket
    margin-top: 10px
    margin-bottom: 10px
  .head-search
    margin: 0 0 10px 0
  .bm-menu
    padding: 5px 8px
  .bm-cross-button
    right: 4px!important
  .bm-item
    li
      margin-bottom: 5px
      padding: 2px
      border: 1px solid transparent
    >li
      >span
        padding-bottom: 2px
        font-size: 14px
    li.active
      >span
        margin-bottom: 2px
        border-bottom: 1px solid #fff
      ul
        a
          font-size: 12px
          margin-bottom: 2px

@media only screen and (max-width: 620px)
  .fixed-menu
    .head-search
      input
        width: 186px
  .head-logo
    a
      display: flex
      img
        max-width: 100%
  .top-nav
    ul
      flex-wrap: wrap

@media only screen and (max-width: 400px)
  .head-logo
    a
      margin-top: 10px
  .head-telephones
    a
      font-size: 16px
    a, p
      margin-left: 0